

.headerWrapper {
  justify-content: space-between;
}

.logo {
  gap: 7px;
}

.headerContainer {
  background-color: var(--pink-color-one);
  padding: 10px 0;
}

nav ul {
  gap: 20px;
}

nav ul li {
   background-color: var(--pink-red);
   padding: 7px 13px;
   border-radius: 7px;
}

nav ul li a {
  font-weight: 500;
  color: white;
}